@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
body {
  color: white;
  background-color: black;
}
h1 {
  font-family: "Unbounded", cursive;
}
h2 {
  font-size: 50px;
}
.weather-app {
  border: 2px solid black;
  max-width: 600px;
  margin: auto;
  padding: 20px 15px;
  border-radius: 16px;
  margin-top: 40px;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  font-family: "Fira Sans Condensed", sans-serif;
}
.weather-icon {
  width: 140px;
  height: 140px;
  margin-left: -15px;
  margin-bottom: -20px;
  margin-top: -40px;
}
.box {
  width: 350px;
  height: 50px;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}
.box i {
  font-size: 20px;
}
.box input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}
.card-body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  border-radius: 20px;
  border: 1px black;
}
.card {
  text-align: center;
  background-color: #155263;
  font-family: "Courgette", cursive;
  border-radius: 20px;
}
.list-group-item {
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  color: white;
  list-style: none;
  border: none;
  padding: 10px;
}
.weather-forcast {
  margin-top: 20px;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Courgette", cursive;
}
.github-link {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  font-family: "Unbounded", cursive;
}
.link {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  color: #155263;
  font-family: "Unbounded", cursive;
}
.link:hover {
  text-decoration: underline;
}
#description {
  text-transform: capitalize;
}
