@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans+Condensed&family=Unbounded&display=swap");
body {
  color: white;
  background-color: black;
}
h1 {
  font-family: "Unbounded", cursive;
}
h2 {
  font-size: 50px;
}
.weather-app {
  border: 2px solid black;
  max-width: 600px;
  margin: auto;
  padding: 20px 15px;
  border-radius: 16px;
  margin-top: 40px;
  background: url("background.jpg");
  background-size: cover;
  font-family: "Fira Sans Condensed", sans-serif;
  box-shadow: 0 30px 40px rgba(17, 167, 212, 0.08);
}
.box {
  width: 350px;
  height: 50px;
  background-color: #155263;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}
.box i {
  font-size: 20px;
}
.box input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  background-color: #155263;
}
a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}
.card-body {
  background: url("background.jpg");
  background-size: cover;
  border-radius: 20px;
  border: 1px black;
}
.card {
  text-align: center;
  background-color: #155263;
  font-family: "Courgette", cursive;
  border-radius: 20px;
}
.list-group-item {
  background: url("background.jpg");
  background-size: cover;
  color: white;
  list-style: none;
  border: none;
}
.weather-forcast {
  margin-top: 20px;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Courgette", cursive;
}
.github-link {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  font-family: "Unbounded", cursive;
}
.link {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  color: #155263;
  font-family: "Unbounded", cursive;
}
.link:hover {
  text-decoration: underline;
}
